body{
    background-image: url(https://codehs.com/uploads/ea6b066dfd3f972b70ec9519e74cc398);
}

h1{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align:center;
}
            
iframe{
    border:none;
    height:100%;
    width:100%;
    position:absolute;
}
            
#intro{
    font-family: 'Source Code Pro', monospace;  
    font-size: 28px;
    font-weight: bold;
    width: 250px;
    display: block;
    text-align: center;
}
            